/*FARBEN
======

Orange => #f5a000
Blau => #00a6dd
Grau => #9d9c9c
*/

/* ##################################### */
/* BASE STYLING */
/* ##################################### */

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/*line-height: 1;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ##################################### */
/* FONT */
/* ##################################### */

@font-face {
    font-family: 'populairemedium';
    src: url('../fonts/Populaire-webfont.eot');
    src: url('../fonts/Populaire-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Populaire-webfont.woff2') format('woff2'),
         url('../fonts/Populaire-webfont.woff') format('woff'),
         url('../fonts/Populaire-webfont.ttf') format('truetype'),
         url('../fonts/Populaire-webfont.svg#populairemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


h4 {
	font-size: 47px;
	font-family: populairemedium;
	color: #f5a000;
}

/* ##################################### */
/* MAIN */
/* ##################################### */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #9d9c9c;
	/*width: 960px;
	margin: 0px auto;*/
}


/* ##################################### */
/* HELPER CLASSES */
/* ##################################### */
.clearfix:before {
content:".";
display:block;
clear:both;
height:0;
visibility:hidden
}
.clearfix:after {
content:".";
display:block;
clear:both;
height:0;
visibility:hidden
}

.hide_element {
	position: absolute;
	left: -9999em;
	width: 1px;
	height: 1px;
	top: auto;
	overflow: hidden;
}

.wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

/* ##################################### */
/* NAV / HEADER */
/* ##################################### */

/* TOP NAV */
.logo_size{
	width: 316px;
	height: 68px;
}
.topnav_wrapper {
	width: 100%;
	margin: 0 auto;
	background-color: #00a6dd;
	margin-bottom: 30px;
}

.topnav{
	width: 960px;
	margin: 0 auto;
}
.topnav ul {
	margin-left:571px;
	padding-top: 10px;
  	padding-right: 0;
  	padding-bottom: 8px;
  	display: inline-block;
  

}
.topnav ul li {
	float:left;
	margin-right: 60px;
}
.topnav ul li:last-child{
	margin-right: 0;
}
.topnav ul li a {
	text-decoration: none;
	color:white;
	font-size: 16px;
  	font-weight: bold;
  	color:white;
}

header{
	height: 621px;
	margin-bottom:-360px;
}
/* Main NAV */

.mainnav_wrapper {
	width:960px;
	margin:0 auto;
	margin-bottom: 70px;
}

.mainnav_wrapper a {
	display: inline-block;
}

.mainnav_wrapper ul li {
	float: left;
	margin-right: 30px;

}
.mainnav_wrapper ul li:last-child {
	margin-right: 0;
}
.mainnav_wrapper ul li a{
	color:#00a6dd;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none; 
	border-bottom: 3px solid #99DBF1;
}
.mainnav_wrapper ul li a:hover{
	border-bottom: 3px solid #00a6dd;
}

nav {
	display: inline-block;
	margin-left: 211px;
}

#present_box {
	position: relative;
	top: -98px;
  	left: -90px;
  	width: 532px;
  	height: 492px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
  	top: -415px;
  	z-index: -20;
  	width:790px; 
  	height:102px;
    }

/*SERVICE*/
.bg {
/*background: rgba(245,159,0,0.94);
background: -moz-linear-gradient(top, rgba(245,159,0,0.94) 3%, rgba(245,159,0,0.96) 41%, rgba(212,151,47,0.99) 81%, rgba(212,151,47,1) 95%);
background: -webkit-gradient(left top, left bottom, color-stop(3%, rgba(245,159,0,0.94)), color-stop(41%, rgba(245,159,0,0.96)), color-stop(81%, rgba(212,151,47,0.99)), color-stop(95%, rgba(212,151,47,1)));
background: -webkit-linear-gradient(top, rgba(245,159,0,0.94) 3%, rgba(245,159,0,0.96) 41%, rgba(212,151,47,0.99) 81%, rgba(212,151,47,1) 95%);
background: -o-linear-gradient(top, rgba(245,159,0,0.94) 3%, rgba(245,159,0,0.96) 41%, rgba(212,151,47,0.99) 81%, rgba(212,151,47,1) 95%);
background: -ms-linear-gradient(top, rgba(245,159,0,0.94) 3%, rgba(245,159,0,0.96) 41%, rgba(212,151,47,0.99) 81%, rgba(212,151,47,1) 95%);
background: linear-gradient(to bottom, rgba(245,159,0,0.94) 3%, rgba(245,159,0,0.96) 41%, rgba(212,151,47,0.99) 81%, rgba(212,151,47,1) 95%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59f00', endColorstr='#d4972f', GradientType=0 );*/
/* IE10+ */ 
background-image: -ms-linear-gradient(top, #F5A000 50%, #AD7200 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #F5A000 50%, #AD7200 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #F5A000 50%, #AD7200 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50, #F5A000), color-stop(100, #AD7200));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #F5A000 50%, #AD7200 100%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom, #F5A000 50%, #AD7200 100%);
width: 100%;
height: 400px;
display: block;
position: absolute;
border-bottom:5px solid rgb(0, 166, 221);
}

.section_wrapper{
	width: 960px;
	margin: 0 auto;
	height: 392px;
}

.service_wrapper{
	display: block;
	position: relative;
	top: -460px;
	float: right;
	width: 429px;
}

h1{
	font-family: populairemedium;
	font-size: 72px;
	color:white;
	font-weight: normal;
	margin-bottom: 10px;
}

.service{
	display: inline;
}
.service p {
	color:white;
	width: 240px;
	font-size: 16px;
	margin-bottom: 30px;
}

.box_button{
	display: inline-block;
  	border: 3px solid white;
  	padding: 10px 40px 10px 40px;
}

.box_button p {
	padding-bottom: 0;
}

.box_button p a {
	text-transform: uppercase;
	font-size: 19px;
	text-decoration: none;
	color:white;
}



main{
	position: relative;
	top: 540px;
	width: 960px;
	margin:0 auto;
	
}

.lieferbox_wrapper {
	background-image: url(../img/lieferbox.png);
	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center; 
}

/*.display_flex_wrapper{
	display: flex;
}*/

.spalte1 {
	text-align: center;
	margin-right: 360px;
	width:300px;
	float: left;
}
.spalte2{
	text-align: center;
	width: 300px;
	float: left;
}

.text_1{
	margin-bottom: 100px;
}
.text_3{
	margin-bottom: 100px;
}
h2{
	font-size: 46px;
	font-family: populairemedium;
	color: #f5a000;
}
main{
	margin-bottom: 660px;
}

/* ##################################### */
/* FOOTER */
/* ##################################### */
footer{
	width: 960px;
	margin:0 auto;
}
.logo_footer {
	text-align: center;
}

.logo_footer img {
	margin-bottom: 15px;
}

.footer_split ul {
	float: left;
	margin-right: 145px;
	margin-top: 75px;
}

.footer_split li, p {
	padding-bottom: 4px;
}

.footer_split ul li h4 {
	margin-bottom: 10px;
}

.footer_split ul li a {
	text-decoration: none;
	color: #9d9c9c;
}

.footer_split ul li a:hover {
	color: #f5a000;
	text-decoration: underline;
}

.footer_right ul {
	width: 470px;
	margin-right: 0px;
	padding: 0px;
}

.footer_right p {
	font-size: 14px;
	font-style: italic;
	margin-top: 8px;
}

.newsletter_input {
	background-color: #f5a000;
  	height: 57px;
  	width: 298px;
  	border: 0px;
  	padding-left: 16px;
  	font-family: opensans;
  	font-size: 16px;
  	color: #fff;
}

	::-webkit-input-placeholder {
	   color: #fff;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #fff;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #fff;  
	}

	:-ms-input-placeholder {  
	   color: #fff;  
	}

.newsletter_button {
	background-color: #fff;
  	height: 59px;
  	width: 150px;
  	border: 3px solid #f5a000;
  	font-family: opensans;
  	font-size: 16px;
  	font-weight: bold;
  	text-transform: uppercase;
  	color: #f5a000;
}

.newsletter_button:hover {
	background-color: #00a6dd;
	color: #fff;
	border: 3px solid #00a6dd;
}

.horizontal_line {
	color: #f5a000;
  	background-color: #f5a000;
 	height: 1px;
  	border: none;
  	margin-top: 45px;
  	margin-bottom: 10px;
}












































/